body {
	background-image: url(images/background.jpg); 	/* Insert your own background image in the images photo. Change url here accordingly. */
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* Welcome Bar Styling */

#welcome {
	text-align: center;
	margin: auto;
	padding: 100px;
	padding-bottom: 120px;
}

#welcome h1 {
	font-size: 105px;
	padding-bottom: 0px;
	margin-bottom: 18px;
}

#welcome p {
	font-size: 16px;
	font-style: italic;
}

#search {
	text-align: center;
	margin: 30px;
	padding: 0px;
	font-style: normal;
	color: white;
	height: 25px;
	border-radius: 3px;
	padding-bottom: 30px;
}

/* Search Bar Styling */

#search input {
	height: 20px;
	border-radius: 3px;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.73);
}

#search input:focus{
    outline-color: gray;
}

#search #button {
	background-color: white;
	border: #f2f2f2 1px solid;
}

#search #button:hover {
	color: black;
	border: black;
}

/* Optimization for smaller screens */

@media screen and (max-width: 699px) {
    #launchers {
        width:80%;
    }
    #welcome {
		text-align: center;
		margin: auto;
		padding-bottom: 60px;
	}

	#welcome h1 {
		font-size: 70px;
	}

	#welcome p {
	font-size: 14px;
	font-style: italic;
	}

	#search {
	height: 25px;
	border-radius: 3px;
	padding-bottom: 70px;
	}
}

